<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="App">
    <description>Правила для проекта</description>

    <arg name="extensions" value="php"/>

    <file>src</file>

    <exclude-pattern>vendor/*</exclude-pattern>
    <exclude-pattern>var/*</exclude-pattern>
    <exclude-pattern>bin/*</exclude-pattern>

    <rule ref="PSR12"/>

    <rule ref="Generic.Metrics.NestingLevel">
        <properties>
            <property name="nestingLevel" value="3"/>
        </properties>
    </rule>

    <rule ref="Generic.Metrics.CyclomaticComplexity">
        <properties>
            <property name="complexity" value="10"/>
        </properties>
    </rule>
</ruleset>