services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Service\CsvHouseService:
        arguments:
            $dataDir: '%kernel.project_dir%/src/Service/data'

    App\Service\CsvBookingService:
        arguments:
            $dataDir: '%kernel.project_dir%/src/Service/data'